.table-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .table {
    width: 45%;
    border-collapse: collapse;
    margin: 0 auto;
  }
  
  .table th,
  .table td {
    padding: 12px;
    text-align: center;
  }
  
  .table th {
    background-color: #F2F2F2;
    font-weight: bold;
  }
  
  .table td {
    border: 1px solid #ddd;
  }
  
  .table-left th:first-child,
  .table-right th:first-child {
    border-top-left-radius: 10px;
  }
  
  .table-left th:last-child,
  .table-right th:last-child {
    border-top-right-radius: 10px;
  }
  
  .table-left td:first-child,
  .table-right td:first-child {
    border-bottom-left-radius: 10px;
  }
  
  .table-left td:last-child,
  .table-right td:last-child {
    border-bottom-right-radius: 10px;
  }
  